<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Secciones de Configuracion  -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Intervalo de Tiempo de los Procesos Colectores, en expresion CRON https://en.wikipedia.org/wiki/Cron#CRON_expression -->
    <!--  */5 significa cada 5 minutos,  */1 significa cada minuto y asi sucesivamente 
    procesoColectorIntervaloMinutos: Intervalo en minutos en que el proceso de colector se ejecutara automaticamente. Valor: Expresion CRON valida
    procesoColectorTiempoEsperaSegundos: Tiempo de espera para que el proceso de colector espere la respuesta de un control de acceso. Valor: Entero de 1 a 3600
    procesoColectorIniciar: Si se incia o no el proceso de colector de controles de acceso. Valor: true para si, false para no
    procesoServicioWebIntervaloMinutos: Intervalo en minutos en el que el proceso de insercion de datos al servicio web se ejecutara automaticamente. Valor: Expresion CRON valida.
    procesoServicioWebTiempoEsperaSegundos: Tiempo de espera para que el proceso de insercion de datos al servicio web espere la respuesta del servicio web. Valor: Entero de 1 a 3600
    procesoServicioWebUsuario: Usuario que se utilizara en el servicio web. Valor: cadena alfanumerica de hasta 255 caracteres
    procesoServicioWebUsuario: Contraseña qeu se utilizara en el servicio web. Valor: cadena alfanumerica de hasta 255 caracteres.
    procesoServicioWebIniciar: Si se inicia o no el proceso de insercion de datos al servicio web. Valor: true para si, false para no
    -->
    <add key="procesoColectorIntervaloMinutos" value="*/1 * * * *" />
    <add key="procesoColectorTiempoEsperaSegundos" value="90" />
    <add key="procesoColectorIniciar" value="false" />
    <add key="procesoServicioWebIntervaloMinutos" value="*/1 * * * *" />
    <add key="procesoServicioWebTiempoEsperaSegundos" value="90" />
    <add key="procesoServicioWebUsuario" value="wspiuser" />
    <add key="procesoServicioWebContrasena" value="Company2011" />
    <add key="procesoServicioWebIniciar" value="false" />


    <!-- URL que es donde van a estar la pagina donde se describe las tareas que se estan realizando
        Este es relativo a la ruta donde esta desplegada la aplicacion. Debe de iniciar con /. Ejemplo: /Tareas 
       Este resultara en un URL parecido al siguiente
       http://servidor/Tareas
    -->
    <add key="urlDescriptorProcesoTareas" value="/Tareas" />


    <!-- 
    Sistema de envio de correos. Estos parametros nos indicaran la configuracion del servicio SMTP al cual el aplicativo se conectara para enviar correos
    mailFrom: Esta llave nos indica el parámetro predeterminado FROM o DE para enviar correos. Debe de ser una direccion de correo valida usuario@dominio.com 
    mailUsername: El nombre de usuario de la cuenta de correo
    mailPasswd: La contraseña de la cuenta de correo
    mailHost: La direccion IP o nombre del servidor SMTP
    mailPort: El puerto del servicio SMTP
    mailSSL: Si la conexion es segura 
    mailBCC: Si se requieren de copias BCC para todos los correos salientes
    -->
    <add key="mailFrom" value="avisos@controltrack.net" />
    <add key="mailUsername" value="avisos@controltrack.net" />
    <add key="mailPasswd" value="avisos08" />
    <add key="mailHost" value="mail.controltrack.net" />
    <add key="mailPort" value="465" />
    <add key="mailSSL" value="true" />
    <add key="mailBCC" value="" />

  </appSettings>
  <!--Conexion a la base de datos Para Aplicativo  
      Server = Direccion IP o nombre del Servidor SQL 
      Database = La base de datos a la que se conectara
      uid = el nombre de usuario del servicio
      password= la contraseña
      providerName = el proveedor o fabricante del servicio de SQL
  -->
  <connectionStrings>
    <add name="base_de_datos" connectionString="Server=localhost;Database=asisten2;uid=sa;password=sasa" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Configuracion de NHibernate  
      connection.connection_string_name : El nombre del connection String que se utilizara para el Hibernate
      dialect: El dialecto NHibernate que se utilizara con el servicio de SQL
  -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Asistencia">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">base_de_datos</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="show_sql">true</property>
      <mapping assembly="Asistencia" />

    </session-factory>
  </hibernate-configuration>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"  executionTimeout="240000" maxRequestLength="2147483647"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules  runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


  <!-- Seccion de Log4NET 
  FileAsistenciaApp: Logger para el aplicativo de Asistencai
  FileAsistenciaColector: Logger para el proceso de Colector
  FileAsistenciaServicioWeb: Logger para el proceso de Servicio Web
  FileAsistenciaDb: Logger de acceso a la base de datios
  -->
  <log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAsistenciaApp" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Asistencia\asistencia_app.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %property{Hostname} - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAsistenciaColector" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Asistencia\asistencia_colector.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %property{Hostname} - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAsistenciaServicioWeb" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Asistencia\asistencia_servicio_web.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %property{Hostname} - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAsistenciaDb" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Asistencia\asistencia_db.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %property{Hostname} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="console" />
    </root>
    <logger name="AsistenciaApp" additivity="false">
      <level value="INFO" />
      <appender-ref ref="FileAsistenciaApp" />
    </logger>
    <logger name="AsistenciaColector" additivity="false">
      <level value="INFO" />
      <appender-ref ref="FileAsistenciaColector" />
    </logger>
    <logger name="AsistenciaServicioWeb" additivity="false">
      <level value="INFO" />
      <appender-ref ref="FileAsistenciaServicioWeb" />
    </logger>
    <logger name="NHibernate">
      <level value="INFO" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="FileAsistenciaDb" />
    </logger>
  </log4net>

  <!-- Seccion de Servicios Web-->
  <system.serviceModel>
    <!-- 
    <diagnostics wmiProviderEnabled="false">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="false" logMessagesAtServiceLevel="true" />
    </diagnostics>
     -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviciosWeb">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="SI_OA_RegistroHuellaDactilarBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_OA_RegistroHuellaDactilarBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_OA_RegistroHuellaDactilarBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://189.205.121.164/XISOAPAdapter/MessageServlet?senderParty=CONTROL_TRACK&amp;senderService=BC_CONTROL_TRACK&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_RegistroHuellaDactilar&amp;interfaceNamespace=http%3A%2F%2Fcompany.com%2FWEBSERVICES%2FECCMEX%2FRegistrosJornadasHuellaDactilar"
        binding="basicHttpBinding" bindingConfiguration="SI_OA_RegistroHuellaDactilarBinding"
        contract="CompanyHuellaDactilar.SI_OA_RegistroHuellaDactilar"
        name="HTTPS_Port" />
      <endpoint address="http://189.205.121.164/XISOAPAdapter/MessageServlet?senderParty=CONTROL_TRACK&amp;senderService=BC_CONTROL_TRACK&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_RegistroHuellaDactilar&amp;interfaceNamespace=http%3A%2F%2Fcompany.com%2FWEBSERVICES%2FECCMEX%2FRegistrosJornadasHuellaDactilar"
        binding="basicHttpBinding" bindingConfiguration="SI_OA_RegistroHuellaDactilarBinding2"
        contract="CompanyHuellaDactilar.SI_OA_RegistroHuellaDactilar"
        name="HTTP_Port" />
    </client>
  </system.serviceModel>


  <!-- Seccion de Diagnosticos
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Asistencia\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="DateTime, Timestamp, ThreadId">
        <filter type="" />
      </add>
      <add initializeData="C:\Asistencia\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="DateTime, Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
   -->
</configuration>