<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="mailPasswd" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="procesoServicioWebUsuario" value="WSPOCTRLTRACK" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="procesoServicioWebContrasena" value="Company2015" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="procesoColectorIniciar" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="procesoServicioWebIniciar" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="procesoColectorIntervaloMinutos" value="*/5 * * * *" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="procesoServicioWebIntervaloMinutos" value="*/5 * * * *" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--Conexion a la base de datos Para Aplicativo  -->
  <connectionStrings>
    <add name="base_de_datos" connectionString="Server=MXOCCDBS15\MXOCCDBS15,57559;Database=CXJornadaSegura;uid=super_usr;password=Admin1969"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="https://b2bapo.company.com/XISOAPAdapter/MessageServlet?senderParty=CONTROL_TRACK&amp;senderService=BC_CONTROL_TRACK&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_RegistroHuellaDactilar&amp;interfaceNamespace=http%3A%2F%2Fcompany.com%2FWEBSERVICES%2FECCMEX%2FRegistrosJornadasHuellaDactilar" name="HTTPS_Port"
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
  <!--
  <system.diagnostics xdt:Transform="Remove" />
   -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>